<h2>Maschinendaten bearbeiten</h2>

<p>An dieser Stelle können Sie die Angaben der Maschine bearbeiten. Bitte achten Sie bei dem Bilderupload darauf eine Datei mit dem Format JPG bzw. der Dateiendung .jpg zu verwenden.</p>

<%= render 'form' %>

<%= link_to 'Anzeigen', @machinery %> |
<%= link_to 'Zurück', machineries_path %>
