<h1>Bearbeiten einer Maßnahme zur Energieeffizienz</h1>

<%= render 'form' %>

<br />

<%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), checklist_category_items_path %>
<%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), @checklist_category_item  %>
