<h1>Druckluftverbraucher - jährliche Erhebung ändern</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @compressed_air_consumption_year %> |
<%= link_to 'Zurück', compressed_air_consumption_years_path %>
