<h2>Jährlicher Geschäftsbericht</h2>

<p>Bitte tragen Sie hier jährlich alle notwendigen Daten zur Bildung der Kennzahlen für die Energieeffizienz ein.</p>

<%= render 'form' %>

<%= link_to 'Zurück', business_data_path %>
