<h1>Stammdaten für die Drucklufterzeugung ändern</h1>

<%= render 'form' %>

<%= link_to 'Stammdaten anzeigen', @compressed_air_production %> |
<%= link_to 'Zurück', compressed_air_productions_path %>
