<h1>Neuer Benutzer</h1>

<p>An dieser Stelle können neue Benutzer hinzugefügt werden. Voraussetzung dafür ist ein bestehendes Unternehmen, zu diesem der Benutzer zugeordnet werden kann.</p>

<%= render 'form' %>

<%= link_to 'Back', users_path %>
