<h1>Abrechnungsjahr für Drucklufterzeugung bearbeiten</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @compressed_air_production_year %> |
<%= link_to 'Zurück', compressed_air_production_years_path %>
