<!--WELCOME SHOW-->

<h1>Schaltzentrale ReMo App</h1>
<p>Herzlich willkommen <%# User.find_by_id(session[:user_id]).firstname %> <%# User.find_by_id(session[:user_id]).name %>!</p>





<h2>Jahresauswertungen</h2>
<table>
  <tr>


  </tr>
</table>