<h1>Neue Systemmeldung</h1>

<%= render 'form' %>

<p>
  <%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), warnings_path %> &nbsp;
  <%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), @warning %>
