<h2>Produktionsgebäude bearbeiten</h2>

<%= render 'form' %>

<p>
<%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), buildings_path %>
<%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), @building %>
