<h1>Neue Messdatei einlesen</h1>
<p>Bitte nur Messwerttabellen in dem folgenden Zeilenformat hochladen!<br>
Datum;Zeit;Messwert -> YYYY.MM.TT;hh:mm:ss:(optional Hunderdstel);Messwert</p>

<%= render 'form' %>
<br><br>
<%= link_to 'Zurück', measuring_data_path %>
