<h2>Neue Messung anlegen</h2>

<p>An dieser Stelle können Sie eine neue Messung abspeichern. Bitte achten Sie beim Upload der Messdaten darauf, dass die Datei einem Format von TT/MM/JJJHH:MM:SS, Messwert; entspricht.

<%= render 'form' %>


<tr><th></th><th colspan=4 align="right"><%= link_to image_tag('zurueck.png', size: "20x20", alt: "Anzeigen"), measurings_path %></th></tr>
</table>
