<h2>Neuer produktionsbezogener Datensatz</h2>

<p>An dieser Stelle können Sie einen neuen produktionsbezogenen Datensatz anlegen. Diese Daten weden benötigt, um anschließend in die Benchmarkinganalyse einzufließen.</p>

<%= render 'form' %>

<%= link_to 'Zurück', production_data_path %>
