<h1>Druckluftverteilung jährliche Erhebung ändern</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @compressed_air_distribution_year %> |
<%= link_to 'Zurück', compressed_air_distribution_years_path %>
