<h1>Energieeffizienzziel ändern</h1>

<%= render 'form' %>

<p>
  <%= link_to image_tag("zurueck.png", size: "20x20", alt: "Zurück"), welcome_index_url %> &nbsp;
  <%= link_to image_tag("show.png", size: "20x20", alt: "Anzeigen"), @energy_goal %>
