<h1>Jährliche Erhebung Thermoölverteilung bearbeiten</h1>

<%= render 'form' %>

<%= link_to 'Anzeigen', @thermo_oil_distribution_year %> |
<%= link_to 'Zurück', thermo_oil_distribution_years_path %>
