/* 
 *= require jqueryTable
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require css3-progress-bar
*/

body,
html {
	background-color: #C3C4BE;
  font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
  font-size: 12px;
  color: #5e5e5e;
  width: 1000px;
	padding: 10px;
  margin: 0 auto;
	margin-top: 20px
}

#wrap {
  width:1000px;
  margin:0 auto;
  background-color: #ffffff;
	box-shadow: 0px 0px 5px #888;

}

#header {
	width: 985px;
	background-color: #e1e2d4;
	padding-left: 15px;
	text-shadow: 1px 1px 1px #fff;
}

#main {
float:left;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
width:500px;
background-color: #ffffff;
}
#sidebar {
float:left;
margin-left: 20px;
margin-top: 20px;
width:150px;
background-color: #ffffff;

}
#footer {
clear:both;
background:#cc9;
background-color: #e1e2d4;
font-size: 10px;
padding-top: 40px;
padding: 10px;
}

#title
{
	line-height: 10px;
}

#logo
{   
	height: auto; 
	width: 200px;    
}

#navi 
{
	float:left;
	min-height: 700px;
	height: 100%;
	width: 150px;
	padding: 10px;
	background-color: #ffffff;
  margin: 0 auto;}

#inhalt 
{
	float:right;
	min-height: 700px;
 	width: 900px;
	padding: 10px;
  background-color: #ffffff;
	margin-left: 190px;
	/*box-shadow: 3px 3px 4px #000;*/
}

#wrapper
{
	background-color: #ffffff;
}

#feld
{
  width: 100px;
  background-color: #e1e2d4;
	font-weight: bold;
  margin: 10px;
  padding: 10px;
	box-shadow: inset 0px 0px 3px #888;
	-moz-border-radius: 15px;
	border-radius: 3px;
}

#feldSidebar
{
  width: 100px;
  background-color: #F1F2EB;
font-size: 10px;
  margin: 10px;
  padding: 10px;
}

h1
{
	line-height: 0.5;
}

#feldLong
{
  width: 750px;
  background-color: #e1e2d4;
  margin: 10px;
  padding: 10px;
}

#strich
{
	background-color: #C3C4BE;
	height: 6px;
	box-shadow: inset 0px 0px 3px #888;
	
}

/*Hyperlinks formatieren*/
a:link {color:#6B6B68; size:14px; text-decoration: none;} 
a:visited {color:#6B6B68; size:14px;} 
a:active {color:#00FFFF; size:14px;} 
a:hover {color:#6B6B68; size:14px; text-decoration:underline;}

/*#footer
{
	width: 1090px;
	padding-top: 40px;
	padding: 10px;
	background-color: #e1e2d4;
	font-size: 10px;
}*/

p
{
	width: 750px;
	padding-top: 10px;
	padding-bottom: 10px;
}
  
.zentriert
{
  text-align: center;
}  
  
.left
{
	text-align: left;
}
table
{
  width: 750px;
}

table.header
{
	border: 0px;
  width: 983px;
	height: 120px;
	background-color: #e1e2d4;
	padding:0;
}

td.header1
{
	background-color: #e1e2d4;
	width: 700px;
	margin: 0px;
	padding-left: 15px;
}

td.header2
{
	background-color: #e1e2d4;
	text-align: right;
	margin: 0px;
	padding: 0px;
}

th
{
  background-color: #ECEDE1;
  margin: 10px;
  padding: 10px;
}

th #field
{
  background-color: #ECEDE1;
  margin: 10px;
	height: 10px;
}

th #action
{
  width: 50px;
}

td #index
{
  text-align: center;
}

td
{
  background-color: #F1F2EB;
  margin: 10px;
  padding: 10px;
}

td #show
{
	text-align: left;
}

p #warning
{
	color: red;
}

#flash
{
  padding: 10px;
}

.photo {
   padding:3px;
   border:1px solid #5e5e5e;
   background-color:#F1F2EB;
}