<h2>Beleuchtung bearbeiten</h2>

<p>An dieser Stelle können Sie die Beleuchtung für einen Raum ändern.</p>

<%= render 'form' %>

<%= link_to 'Anzeigen', @lighting %> |
<%= link_to 'Zurück', lightings_path %>
