<h2>Energieumrechnungszahlen und CO<sub>2</sub>-Emissionsfaktoren</h2>
<h3>Heizwerte der Energietr&auml;ger und Faktoren f&uuml;r die Umrechnung von spezifischen Mengeneinheiten in W&auml;rmeeinheiten</h3>

<table class="zentriert">
  <tr>
    <th>Energietr&auml;ger</th>
    <th>Mengeneinheit</th>
    <th>Heizwert (MJoule)</th>
    <th>Heizwert (kWh)</th>
  </tr>
  <tr>
    <th>Steinkohlen&sup1;</th>
    <td>Kg</td>
    <td>30,215</td>
    <td>7,22</td>
  </tr>
  <tr>
    <th>Braunkohlen&sup1;</th>
    <td>Kg</td>
    <td>9,022</td>
    <td>2,16</td>
  </tr>
  <tr>
    <th>Brennholz (1m&sup3; = 0,7t)</th>
    <td>Kg</td>
    <td>14,654</td>
    <td>3,50</td>
  </tr>
  <tr>
    <th>Dieselkraftstoff</th>
    <td>Kg</td>
    <td>42,959</td>
    <td>10,26</td>
  </tr>
  <tr>
    <th>Heiz&ouml;l, leicht</th>
    <td>Kg</td>
    <td>42,800</td>
    <td>10,22</td>
  </tr>
  <tr>
    <th>Heiz&ouml;l, schwer</th>
    <td>Kg</td>
    <td>40,427</td>
    <td>9,66</td>
  </tr>
  <tr>
    <th>Fl&uuml;ssiggas</th>
    <td>Kg</td>
    <td>45,147</td>
    <td>10,78</td>
  </tr>
  <tr>
    <th>Erdgas</th>
    <td>m&sup3</td>
    <td>31,736</td>
    <td>7,58</td>
  </tr>
  <tr>
    <th>Strom</th>
    <td>kWh</td>
    <td>3,600</td>
    <td>0,86</td>
  </tr>
</table>

<p>&sup1;Dieser Durchschnittswert gilt f&uuml;r die Gesamtf&ouml;rderung
  bzw. Produktion. Im &Uuml;brigen gelten unterschiedliche Heizwerte. – Quelle:
  Arbeitsgemeinschaft Energiebilanzen</p>

<h3>Direkte CO<sub>2</sub>-Emissionsfaktoren</h3>

<table class="zentriert">
  <tr>
    <th colspan=2 rowspan=2>Energietr&auml;ger</th>
    <th colspan="2">Direkte CO<sub>2</sub>-Emissionsfaktoren</th>
  </tr>
  <tr>
    <th>g/MJ</th>
    <th>g/kWh</th>
  </tr>
  <tr>
    <th rowspan=8>Brennstoffe</th>
    <th>Steinkohle (Mix)</th>
    <td>98,629</td>
    <td>355,00</td>
  </tr>
  <tr>
    <th>Braunkohlen</th>
    <td>112,400</td>
    <td>404,00</td>
  </tr>
  <tr>
    <th>Holz</th>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th>Dieselkraftstoff</th>
    <td>74,000</td>
    <td>266,00</td>
  </tr>
  <tr>
    <th>Heiz&ouml;l, leicht</th>
    <td>74,000</td>
    <td>266,00</td>
  </tr>
  <tr>
    <th>Heiz&ouml;l, schwer</th>
    <td>78,00</td>
    <td>281,00</td>
  </tr>
  <tr>
    <th>Fl&uuml;ssiggas</th>
    <td>65,000</td>
    <td>234,00</td>
  </tr>
  <tr>
    <th>Erdgas H (Verbund)</th>
    <td>56,000</td>
    <td>202,00</td>
  </tr>
  <tr>
    <th width=233 rowspan=2>Nah-/Fernw&auml;rme aus KWK</th>
    <th>fossiler Brennstoff</th>
    <td>57,380</td>
    <td>207,00</td>
  </tr>
  <tr>
    <th>erneuerbarer Brennstoff</th>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th rowspan=2 >Nah-/Fernw&auml;rme aus Heizwerken</th>
    <th>fossiler Brennstoff</th>
    <td>84,107</td>
    <td>303,00</td>
  </tr>
  <tr>
    <th>erneuerbarer Brennstoff</th>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <th>Strom</th>
    <th>Strom-Mix</th>
    <td>171,389</td>
    <td>617,00</td>
  </tr>
</table>
